amqp==2.2.2
argh==0.26.2
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
backports.functools-lru-cache==1.4
beautifulsoup4==4.6.0
billiard==3.5.0.3
blinker==1.4
boto==2.48.0
boto3==1.7.4
botocore==1.10.4
bottle==0.12.13
brotlipy==0.6.0
bz2file==0.98
celery==4.1.0
certifi==2018.1.18
cffi==1.11.2
chardet==3.0.4
click==6.7
colorama==0.3.9
constantly==15.1.0
construct==2.8.22
coverage==4.5.1
cryptography==1.8.2
cssselect==1.0.3
cssutils==1.0.2
cycler==0.10.0
defusedxml==0.5.0
Django==1.10
django-taggit==0.18.1
docutils==0.14
EditorConfig==0.12.1
Flask==0.12.2
gensim==3.4.0
gevent==1.2.2
greenlet==0.4.12
grequests==0.3.0
h2==2.6.2
hpack==3.0.0
html2text==2016.9.19
hyperframe==4.0.2
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
invoke==0.21.0
itsdangerous==0.24
jieba==0.39
Jinja2==2.10
jmespath==0.9.3
jsbeautifier==1.6.14
kaitaistruct==0.6
kombu==4.1.0
lxml==4.1.1
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.1.1
mitmproxy==2.0.2
more-itertools==4.1.0
numpy==1.14.2
oauthlib==2.0.7
olefile==0.44
opencv-contrib-python==3.4.0.12
opencv-python==3.4.0.12
packaging==16.8
parsel==1.3.1
passlib==1.7.1
pathtools==0.1.2
pika==0.11.2
Pillow==4.3.0
pluggy==0.6.0
psutil==5.4.3
py==1.5.3
pyasn1==0.2.3
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pydivert==2.0.9
PyJWT==1.6.1
PyMySQL==0.7.11
pyOpenSSL==16.2.0
pyparsing==2.2.0
pyperclip==1.5.32
pytest==3.5.0
python-dateutil==2.6.1
python-decouple==3.1
python-social-auth==0.2.19
python3-openid==3.1.0
pytz==2016.4
pywin32==221
PyYAML==3.12
queuelib==1.4.2
redis==2.10.6
requests==2.18.4
requests-cache==0.4.13
requests-oauthlib==0.8.0
ruamel.yaml==0.15.23
s3transfer==0.1.13
scipy==1.0.1
Scrapy==1.5.0
selenium==2.53.6
service-identity==17.0.0
six==1.11.0
smart-open==1.5.7
sortedcontainers==1.5.9
sqlalchemy==1.2.1
tornado==4.5.3
Twisted==17.9.0
tzlocal==1.5.1
urllib3==1.22
urwid==1.3.1
vine==1.1.4
virtualenv==15.2.0
w3lib==1.18.0
watchdog==0.8.3
Werkzeug==0.14.1
WMI==1.4.9
xlrd==1.1.0
zope.interface==4.4.3
