{% extends "front_desk/fd_base.html" %}

{% block container %}



        <div class="wrapper wrapper-content  animated fadeInRight article">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="pull-right">
                                <button class="btn btn-white btn-xs" type="button">Model</button>
                                <button class="btn btn-white btn-xs" type="button">Publishing</button>
                                <button class="btn btn-white btn-xs" type="button">Modern</button>
                            </div>
                            <div class="text-center article-title">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> {{ news_obj.date|date:"Y-m-d" }}</span>
                                <h1>
                                    {{ news_obj.title }}
                                </h1>
                            </div>
                            {{ news_obj.content|safe }}
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                        <h5>Tags:</h5>
                                        <button class="btn btn-primary btn-xs" type="button">Model</button>
                                        <button class="btn btn-white btn-xs" type="button">Publishing</button>
                                </div>
                                <div class="col-md-6">
                                    <div class="small text-right">
                                        <h5>Stats:</h5>
                                        <div> <i class="fa fa-comments-o"> </i> 56 comments </div>
                                        <i class="fa fa-eye"> </i> 144 views
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">

                                    <h2>Comments:</h2>

                                    <div class="social-feed-box">
                                        <div class="comment-box" style="width:100%;">
                                        {% if request.user.is_authenticated %}
                                            <textarea class="form-control" rows="3"></textarea>
                                            <button class="btn btn-success pull-right" style="margin-top: 10px">评论</button>
                                        {% else %}
                                            <div class="jumbotron">
                                                <h4 class="text-center"><a class="btn-link" href="{% url 'acc_login' %}">登陆</a>后可评论</h4>
                                            </div>
                                        {% endif %}
                                        </div>
                                    </div>
                                <div class="comment-list" style="margin-top: 60px">
                                    {% for comment in comment_list %}
                                    <div class="social-feed-box" >
                                        <div class="social-avatar">
                                            <a href="" class="pull-left">
                                                {% if comment.user.head_img  %}
                                                    <img alt="image" src="{{ comment.user.head_img.url }}">
                                                {% else %}
                                                    <img alt="image" src="/media/head_imgs/sample.jpg">
                                                {% endif %}
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                   {{ comment.user.name }}
                                                </a>
                                                <small class="text-muted">{{ comment.date|timesince }} ago</small>
                                            </div>
                                        </div>
                                        <div class="social-body">
                                            <p>
                                                {{ comment.comment }}
                                            </p>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>

                                    <div class="social-feed-box hidden">
                                        <div class="social-avatar">
                                            <a href="" class="pull-left">
                                                <img alt="image" src="">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">

                                                </a>
                                                <small class="text-muted"></small>
                                            </div>
                                        </div>
                                        <div class="social-body">
                                            <p>
                                               hidden box
                                            </p>
                                        </div>
                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>


{% endblock %}

{% block bottom-js %}
    <script>


        $(document).ready(function () {

            $(".comment-box button").click(function () {
                var comment_text = $(".comment-box textarea").val();
                if( comment_text.trim().length < 5 ){
                    alert("评论字数不能少于5!");
                }else{
                    $.post("{% url 'post_comment' %}",
                        {
                            article_id:"{{ news_obj.id }}",
                            comment:comment_text.trim()
                        },//end post args
                        function (callback) {
                            var new_comment_box = $(".hidden").clone();
                            $(".comment-list").append(new_comment_box);
                            new_comment_box.removeClass("hidden");
                            new_comment_box.find("img[alt='image']").attr('src',"{{ request.user.head_img }}");
                            new_comment_box.find(".media-body a").html("{{ request.user.name }}");
                            new_comment_box.find(".text-muted").html("now");
                            new_comment_box.find(".social-body p").html(comment_text.trim());
                            $(".comment-box textarea").val("").focus();
                        }
                    );//end post

                }
            });//end button click
        });

        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        {#var csrftoken = Cookies.get('csrftoken');#}
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
{% endblock %}
