{% extends 'crm_base.html' %}



{% block page-contianer %}
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Course Editor</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a>Action Manage</a>
                        </li>
                        <li class="active">
                            <strong>Course Editor</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

        <div class="wrapper wrapper-content">
            <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>发布课程</h5>
                            </div>
                            <div class="ibox-content">
                                <form method="post" class="form-horizontal" action="{% url 'new_course' %}">{% csrf_token %}
                                    <div class="form-group"><label class="col-sm-2 control-label">课程名称</label>
                                        <div class="col-sm-10"><input type="text" required="true" name="name" class="form-control"></div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group"><label class="col-sm-2 control-label">课程周期</label>
                                        <div class="col-sm-10"><input type="text" required="true" name="period" class="form-control"></div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group"><label class="col-sm-2 control-label">课程价格</label>
                                        <div class="col-sm-10"><input type="text" required="true" name="price" class="form-control"></div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group"><label class="col-sm-2 control-label">课程框架</label>
                                        <div class="col-sm-10"><input type="text" required="true" name="outline" class="form-control"></div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group"><label class="col-sm-2 control-label">是否可用</label>
                                        <div class="col-sm-10">
                                            <div class="i-checks"><label> <input type="radio" checked="" value="True" name="enabled"> <i></i> 可用</label></div>
                                            <div class="i-checks"><label> <input type="radio"  value="False" name="enabled"> <i></i> 不可用</label></div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-5">
                                            <button class="btn btn-white" type="submit">Cancel</button>
                                            <button class="btn btn-primary" type="submit">确认发布</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
{% endblock %}



