{% extends 'crm_base.html' %}


{% block page-contianer %}

          <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>index</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a>KS CRM</a>
                        </li>
                        <li class="active">
                            <strong>index</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Profile Detail</h5>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right">
                                {% if request.user.head_img %}
                                <span>
                                    <img alt="image" class="img-circle" src="{{ request.user.head_img}}" />
                                </span>
                                {% endif %}
                            </div>
                            <div class="ibox-content profile-content">
                                <h4><strong>{{ request.user.name }}</strong></h4>
                                <p><i class="fa fa-map-marker"></i> {{ request.user.role.name }}</p>
                                <h5>
                                    About me
                                </h5>
                                <p>
                                    {{ request.user.signature }}
                                </p>

                                <div class="user-button">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i>消息列表</button>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="{% url 'profile_editors' %}" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i>编辑资料</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                    </div>
                <div class="col-md-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Activites</h5>
                        </div>
                        <div class="ibox-content">

                            <div>
                                <div class="feed-activity-list">
                                    {% for action in action_list %}
                                    <div class="feed-element">
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">1m ago</small>
                                            <strong>{{ action.topic}}</strong><br>
                                            <small class="text-muted">{{ action.start_time|date:"Y-m-d" }}  -  {{ action.end_time|date:"Y-m-d"  }}</small>
                                            <div class="actions">
                                                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                                <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                                <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

{% endblock %}
