{% extends 'crm_base.html' %}

{% block extra-css-resources %}
    <link href="/static/bootstrap/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/static/bootstrap/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
{% endblock %}

{% block page-contianer %}
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Text Editor</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a>Article Manage</a>
                        </li>
                        <li class="active">
                            <strong>Text Editor</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

        <div class="wrapper wrapper-content">
            <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>发布新闻</h5>
                            </div>
                            <div class="ibox-content">
                                <form method="post" class="form-horizontal" action="{% url 'new_article' %}">{% csrf_token %}
                                    <div class="form-group"><label class="col-sm-2 control-label">新闻标题</label>
                                        <div class="col-sm-10"><input type="text" required="true" name="title" class="form-control"></div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group"><label class="col-sm-2 control-label">是否可用</label>
                                        <div class="col-sm-10">
                                            <div class="i-checks"><label> <input type="radio" checked="" value="True" name="enabled"> <i></i> 可用</label></div>
                                            <div class="i-checks"><label> <input type="radio"  value="False" name="enabled"> <i></i> 不可用</label></div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <h5 class="text-center">在下方编辑文本内容</h5>
                                    <textarea id="summernote"   name="content"></textarea>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-5">
                                            <button class="btn btn-white" type="submit">Cancel</button>
                                            <button class="btn btn-primary" type="submit">确认发布</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
{% endblock %}



{% block bottom-js %}
     <!-- SUMMERNOTE -->
    <script src="/static/bootstrap/js/plugins/summernote/summernote.min.js"></script>
    <script src="/static/bootstrap/js/plugins/summernote/lang/summernote-zh-CN.js"></script>

    <script>
        $(document).ready(function(){

            $('#summernote').summernote({
                height: 400,
                lang: 'zh-CN',
                focus:true,
                icons: {
                    'align': 'fa fa-align',
                    'alignCenter': 'fa fa-align-center',
                    'alignJustify': 'fa fa-align-justify',
                    'alignLeft': 'fa fa-align-left',
                    'alignRight': 'fa fa-align-right',
                    'indent': 'fa fa-indent',
                    'outdent': 'fa fa-outdent',
                    'arrowsAlt': 'fa fa-arrows-alt',
                    'bold': 'fa fa-bold',
                    'caret': 'fa fa-caret-down',
                    'circle': 'fa fa-circle',
                    'close': 'fa fa-close',
                    'code': 'fa fa-code',
                    'eraser': 'fa fa-eraser',
                    'font': 'fa fa-font',
                    'frame': 'fa fa-frame',
                    'italic': 'fa fa-italic',
                    'link': 'fa fa-link',
                    'unlink': 'fa fa-chain-broken',
                    'magic': 'fa fa-magic',
                    'menuCheck': 'fa fa-check',
                    'minus': 'fa fa-minus',
                    'orderedlist': 'fa fa-list-ol',
                    'pencil': 'fa fa-pencil',
                    'picture': 'fa fa-picture-o',
                    'question': 'fa fa-question',
                    'redo': 'fa fa-redo',
                    'square': 'fa fa-square',
                    'strikethrough': 'fa fa-strikethrough',
                    'subscript': 'fa fa-subscript',
                    'superscript': 'fa fa-superscript',
                    'table': 'fa fa-table',
                    'textHeight': 'fa fa-text-height',
                    'trash': 'fa fa-trash',
                    'underline': 'fa fa-underline',
                    'undo': 'fa fa-undo',
                    'unorderedlist': 'fa fa-list-ul',
                    'video': 'fa fa-youtube-play'
                },
				//查看更多配置(https://summernote.org/deep-dive/)
				//下面重写上传图片方法
				callbacks: {
                    onImageUpload:function(files) {
				        // upload image to server and create imgNode...
                        console.log("image init");
                        sendFile(files[0]);
                      {#$summernote.summernote('insertNode', imgNode);#}
                    },
                    onImageUploadError: function(){
                        alert("upload image error");
                    }
				},

			});


        });//end ready

        function sendFile(file) {
            data = new FormData();
            data.append("file", file);
            console.log(data);
            $.ajax({
                data: data,
                type: "POST",
                url: "/crm/image_upload/action/",
                cache: false,
                contentType: false,
                processData: false,
                success: function (url) {
                    console.log("url",url);
                    $("#summernote").summernote('insertImage', url); // the insertImage API
                }
            });
        }

    </script>

{% endblock %}